<<<<<<< HEAD
<<<<<<< HEAD
body {
    background-color: lightgreen;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

=======
﻿body {
=======
body {
>>>>>>> 20a6d7934d583cab22eb69a38878c7021576e9f6
    background-color: lightgreen;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

>>>>>>> caa89ea481ed0e7c89b97368d8e1b0a9d6aeb630
